.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  background-color: #000;
  color: white;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.highlight {
  color: #4ea1ff;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #4ea1ff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #007bff;
}

.hero-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid #4ea1ff;
  object-fit: cover;
}
